body{
    font-family: Arial, sans-serif;
    background-color:#ffe1c6 ;
    margin: 0;
}

header{
    background-color:#e7aab6;
    color: white;
    padding: 20 px;
    text-align: center;
}

nav {
    background-color: #ffb3c1;
    padding: 10 px;
    text-align: center;
    /*continua*/
    nav a{
        margin:10px;
        color:#000;
        text-decoration: none;
        font-weight: bold ;
    }

    section{
        padding:20px;
    }
    footer{
        background-color: #ffd6e0;
        text-align: center;
        padding: 10 px;
    }
    /*continua*/
    button{
        padding: 10px 20px;
        background-color: #ecdac9;
        color:white;
        border: none;
        cursor: pointer;
    }
}